<!DOCTYPE HTML>
  <html>
    <head>
      <meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta http-equiv="X-UA-Compatible" content="ie=edge">

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="assets/css/styles.css">
      <link rel="stylesheet" href="assets/css/listingstyles.css">
    <title>For Sale</title>
 </head>
 <body>
  <!--Navigation-->
  <nav>
  <div class="nav-wrapper  blue darken-4">
    <a href="/IndexPage" class="brand-logo center"><span class="logo grey-text-lighten-2">NY Estates Group Realty</span></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="/MissionPage">About Us</a></li>
      <li><a href="/ServicesPage">Services</a></li>
      <li><a href="/TeamPage">The Team</a></li>
      <li><a href="/ForSalePage">For Sale</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo" style="transform: translateX(-100%);">
      <li><a href="/IndexPage">Home</a></li>
      <li><a href="/MissionPage">About Us</a></li>
      <li><a href="/ServicesPage">Services</a></li>
      <li><a href="/TeamPage">The Team</a></li>
      <li><a href="/ForSalePage">For Sale</a></li>
    </ul>
  </div>
</nav>

<div class="parallax-container">
  <div class="parallax"><img src="assets\img\forsale.jpg"></div>
</div>

<h3 class="section-header">For Sale</h3>S

<div class="row">
    <% articles.forEach(function(listing) { %>
      <% if (listing.Address === "88-48 162 Street, Jamaica, NY 11432"){ %>
        <div class="col l3 m6 s12">
          <div class="card">
            <div class="card-image">
              <img src="assets\img\listingimg\88-48 162 Street, Jamaica, NY 11432.jpg" height="200">
              <span class="card-title"><%=listing.Price%></span>
            </div>
            <div class="card-content">
              <p class="aptAddress"><a href="#"><%=listing.Address%></a></p><br />
              <p class="apt"><i class="fa fa-home" aria-hidden="true">&nbsp;</i><%=listing.PropertyType%></p>
              <p class="apt"><i class="fa fa-check-circle" aria-hidden="true">&nbsp;</i><%=listing.Status%></p>
            </div>
          </div>
        </div>
      <% } %>
      <% if (listing.Address === "172-19 Baisley Blvd, Jamaica, NY 11434"){ %>
        <div class="col l3 m6 s12">
          <div class="card">
            <div class="card-image">
              <img src="assets\img\listingimg\172-19 Baisley Blvd, Jamaica, NY 11434.jpg" height="200">
              <span class="card-title"><%=listing.Price%></span>
            </div>
            <div class="card-content">
              <p class="aptAddress"><a href="#"><%=listing.Address%></a></p><br />
              <span><p class="apt"><i class="fa fa-bed" aria-hidden="true">&nbsp;</i><%=listing.Bed%> Bed(s)</p>
                    <p class="apt"><i class="fa fa-bath" aria-hidden="true">&nbsp;</i><%=listing.Bath%> Bath(s)</p>
               </span>
            </div>
          </div>
        </div>
      <% } %>
      <% if (listing.Address === "135-53 234th street, Rosedale, NY 11422"){ %>
        <div class="col l3 m6 s12">
          <div class="card">
            <div class="card-image">
              <img src="assets\img\skycrapers.jpg" height="200">
              <span class="card-title"><%=listing.Price%></span>
            </div>
            <div class="card-content">
              <p class="aptAddress"><a href="#"><%=listing.Address%></a></p><br />
              <span><p class="apt"><i class="fa fa-bed" aria-hidden="true">&nbsp;</i><%=listing.Bed%> Bed(s)</p>
                    <p class="apt"><i class="fa fa-bath" aria-hidden="true">&nbsp;</i><%=listing.Bath%> Bath(s)</p>
               </span>
            </div>
          </div>
        </div>
      <% } %>
      <% if (listing.Address === "165-40 Baisley Blvd, Jamaica, NY 11434"){ %>
        <div class="col l3 m6 s12">
          <div class="card">
            <div class="card-image">
              <img src="assets\img\listingimg\165-40 Baisley Blvd, Jamaica, NY 11434.jpg" height="200">
              <span class="card-title"><%=listing.Price%></span>
            </div>
            <div class="card-content">
              <p class="aptAddress"><a href="#"><%=listing.Address%></a></p><br />
              <span>
                <p class="apt"><i class="fa fa-building" aria-hidden="true">&nbsp;</i><%=listing.PropertyType%></p>
                <p class="apt"><i class="fa fa-building-o" aria-hidden="true">&nbsp;</i><%=listing.Stories%> Story</p>
              </span>
            </div>
          </div>
        </div>
      <% } %>
  <% });%>
</div>

<!--Footer-->
<footer class="page-footer grey darken-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <p class="grey-text text-lighten-4" id="footerParagraph">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <p class="grey-text text-lighten-3" id="footerOffice">Links</p>
        <ul>
          <li><a class="grey-text text-lighten-3" id="footerAddress">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" id="footerNumber">Link 2</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
     © 2017 NY Estates Group Inc.-All rights reserved
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>

  <!--Import jQuery before materialize.js-->
  <!-- Compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
<script type="text/javascript" src="assets\js\xtra-scripts.js"></script>
<script type="text/javascript" src="assets\js\footer-scripts.js"></script>
